



.teste2{
		width: 200px; 
		height: 300px; 
		/*background-color:black; */
		float:right; 
		margin-top: -100px;

	 }

	 #teste{
		width: 200px;
		 height: 300px; 
		 /*background-color: red;*/
		 display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;  
    flex-wrap: wrap;
	 }
	 
	 @media screen and (max-width: 720px) {
		 .teste2, #teste {
			 width:100%;
			 float:left;
		 }
		 .teste2 {
			 margin-top:0;
		 }
	 }

